.main {
  background-color: antiquewhite;
  width: 90%;
  margin: 5px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.details {
  display: flex;
  flex-direction: column;
}
.details div {
  margin-top: 25px;
  margin-left: 10px;
}

.bookmark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
